@import "tailwindcss";

/* biome-ignore lint: default */
@theme {
  --font-heading: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  overflow-x: hidden;
}

@layer components {
  /* Placeholder */
}
